$margin: 20px;
$border: 2px solid red;
$padding: 20px;
$width: 300px;
$height: auto;
$radius: 10px;

//Buttons

$btn-text-align: center;
$btn-font-weight: 400;
$btn-border-width: 1px;
$btn-padding-y: 0.375rem;
$btn-padding-x: 0.75rem;
$btn-font-size: 1rem;
$btn-line-height: 1.5;

$btn-theme: "sun";
